<div class="row">
  <% @islands.each do |island| %>
      <div class="col-sm-4">
        <h3><%= island.name %></h3>

        <% island.hotels.each do |hotel| %>
            <%= link_to hotel.name, hotel_path(hotel) %>
        <% end %>
      </div>
  <% end %>
</div>