.destination_jumbo h1 {
    font-family: 'Satisfy', cursive;
    font-size: 6em;
}

.destination_jumbo {
    min-height:340px;
    background: url("destinations_jumbo.jpg") no-repeat;
    background-size: cover;

}

.island_tile{
    box-sizing: border-box;
    padding: 0;
    margin: 0 0 30px 30px;
    float: left;
}

.island_image {
    width:100%;
    img {
        height:150px;
        width:220px;
        background-repeat: no-repeat;
        border-radius: 5px;
    }
}
