<div class="row">
	<h2 class="col-sm-8 col-sm-offset-2">Promotions</h2>
</div>
<div class="row">
  <% @promos.each do |promo| %>
      <h3 class="well col-sm-8 col-sm-offset-2 promo">
        <%= promo.description %>
      </h3>
  <% end %>
</div>