<div class="row">
  <div class="col-md-4 col-md-offset-1">
    <h2>Send a request</h2>
    <div class="well">
      <%= render('contact/form') %>
    </div>
  </div>
  <div class="col-md-4 col-md-offset-1">
    <h2>Chat with us</h2>
    <div class="well">
      <p><b>Call or email</b></p>
      <p>816.525.9859</p>
      <p><%= mail_to "trvlsrc@sbcglobal.net" %></p>

      <p><b>Visit today</b></p>
      <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1552.2359239577695!2d-94.37397907825155!3d38.913191430314846!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87c11f8db3a76e4f%3A0x9c1fb318b9bef043!2sTravel+Source!5e0!3m2!1sen!2sus!4v1406325026778" height="400" frameborder="0" style="border:0"></iframe>
      </div>
    </div>
  </div>
</div>