<div class="jumbotron destination_jumbo">
  <div class="container">
    <h1 class="tagline">Destinations</h1>
  </div>
</div>

<div class="container">
    <div class="tile_row">
      <% @destinations.each do |destination| %>

          <div class="tile">

            <div class="tile_image">
              <!--TODO: use the actual path for destination image here.  It just ain't created yet.-->
              <%= image_tag("destinations/#{destination.path}.jpg") %>
            </div>

            <div class="well tile_caption">
              <span><%= destination.name %></span>
              <%= link_to(content_tag("button", "Read More", :class=>"btn btn-success btn-xs pull-right"), destination_path(destination)) %>
            </div>

          </div>


      <% end %>
    </div>
</div>