<div class="jumbotron destination_jumbo">
  <div class="container">
    <h1 class="tagline">Destinations</h1>
  </div>
</div>

<div class="container">
    <div class="destination_tile_row">
      <% @destinations.each do |destination| %>

          <div class="destination_tile">

            <div class="destination_image">
              <!--TODO: use the actual path for destination image here.  It just ain't created yet.-->
              <%= image_tag("destinations.jpg") %>
            </div>

            <p class="well destination_caption">
              <%= destination.name %>
              <a href="<%= destination_path destination %>" class="btn btn-success btn-xs pull-right">Read More</a>
            </p>

          </div>


      <% end %>
    </div>
</div>