<div class="jumbotron destination_jumbo">
  <div class="container">
    <h1 class="tagline"><%= @destination.name %></h1>
  </div>
</div>

<div class="container">
    <div class="destination_tile_row">
      <% @islands.each do |island| %>

          <div class="destination_tile">

            <div class="destination_image">

              <%= image_tag("destinations.jpg") %>
            </div>

            <p class="well destination_caption">
              <%= island.name %>
              <%= link_to(content_tag("button", "Read More", :class=>"btn btn-success btn-xs pull-right"), island_path(island)) %>
            </p>

          </div>


      <% end %>
    </div>
</div>