// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Satisfy);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
#main-image {
	background-image:url('hut2.jpg');
	height: 360px;
	background-size: 2200px;
	background-position-y:1020px;

	border: 1px solid #d4d4d4;
	-webkit-box-shadow: 0 5px 4px rgba(0, 0, 0, 0.065);
	-moz-box-shadow: 0 5px 4px rgba(0, 0, 0, 0.065);
	box-shadow: 0 5px 4px rgba(0, 0, 0, 0.065);

	.tagline {
		font-size:5em;
		margin-top:147px;
		margin-left:45px;
		font-family: 'Satisfy', cursive;
	}
	.subtagline {
		font-size:2em;
		margin-top:20px;
		margin-left:522px;
		font-family: 'Droid Serif', serif;
	}
	.taglink {
		font-size:1.8em;
		margin-top:65px;
		margin-left:250px;
	}
}
