<div class="row">
  <% @hotels.each do |hotel| %>
      <div class="col-sm-4">
        <h3><%= hotel.name %></h3>

        <% hotel.hotel_pictures.each do |hotel_picture| %>
            <img src="<%= hotel_picture.path %>" />
        <% end %>

      </div>
  <% end %>
</div>